<%- include('partials/head') -%>

    <main class="container text-center">
        <!-- <div class="row justify-content-center"> -->
            <!-- <section class="col-6 mt-5"> -->

                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>

                <form action="/signup" method="POST" class="form-signin">
                 
                  <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
                  <label for="userName" class="form-label sr-only">Username</label>
                  <input type="text" id="userName" class="form-control" name="userName" placeholder="username"autofocus>
                  <!-- <input type="text" class="form-control" id="userName" name="userName"> -->
                  <!--  -->
              <!-- <label for="location" class="form-label sr-only">Location</label>
                  <input type="text" id="location" class="form-control" name="location" placeholder="location" required autofocus> -->
              
              <!--  -->
                  <div>
                    <label for="exampleInputEmail1" class="form-label sr-only">Email address</label>
                    <input type="email" class="form-control" placeholder="Email address" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"autofocus>
                  </div>
                  <label for="password" class="form-label sr-only">Password</label>
                  <input type="password" id="password" class="form-control" placeholder="Password" name="password">
                  <label for="ConfirmPassword" class="form-label sr-only">Confirm password</label>
                  <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" name="confirmPassword">
                  <!-- <div class="checkbox mb-3">
                    <label>
                      <input type="checkbox" value="remember-me"> Remember me
                    </label>
                  </div> -->
                   <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
                   <div class="mt-3">
                    <a class="btn btn-primary" href="/">Main page</a>
                  </div>
                  <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
                </form>
                  
            <!-- </section> -->
        <!-- </div> -->
    </main>

<%- include('partials/footer') -%>
